/* Main Section */

* {
    font-family: 'Roboto', sans-serif;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.grid {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66;
}

.col-6 {
    width: 50%;
    padding-right: 20px;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.my-logo {
    max-height: 100%;
    width: 100%;
    float: left;
    margin-top: 25px;
    margin-bottom: 5px;
}

hr {
    border: none;
    height: 4px;
    width: 98.4%;
    /* Set the hr color */
    color: #BCBBBB;
 /* old IE */
    background-color: #BCBBBB;
 /* Modern Browsers */
    margin-left: 0;
}

img {
    max-width: 100%;
    height: auto;
    overflow: auto;
}

.header {
    max-height: 165px;
    text-align: right;
}

.myname {
    font-family: 'Lato', sans-serif;
    font-size: 3.75em;
    color: #707070;
    margin-bottom: 0;
}

.mytitle {
    color: #707070;
    margin-bottom: 10px;
}

.mywork {
    font-size: 2.0em;
    color: #BCBBBB;
    margin-bottom: 10px;
}

.mainimg {
    margin-top: 15px;
}

.proj {
    text-align: center;
}

.proj h3 {
    color: #707070;
    font-size: 2.0em;
    margin: 5px 0 0;
}

.proj p {
    margin: 0;
}

.proj a {
    color: #707070;
    font-size: 1.0em;
    margin: 5px 0 0;
}


/* MEDIA QUERIES */

@media screen and (max-width: 464px) and (min-width: 381px) {
    .myname {
        font-size: 2.2em;
    }

    .mywork {
        font-size: 1.5em;
    }

    .proj h3 {
        font-size: 1.0em;
    }

    .proj a {
        font-size: 0.4em;
    };
}

@media screen and (max-width: 549px) and (min-width: 465px) {
    .myname {
        font-size: 3.0em;
    }

    .mywork {
        font-size: 1.75em;
    }

    .proj h3 {
        font-size: 1.5em;
    }

    .proj a {
        font-size: 0.6em;
    };
}

@media screen and (max-width: 800px) and (min-width: 550px) {
    .myname {
        font-size: 3.2em;
    }

    .mywork {
        font-size: 1.85em;
    }

    .proj h3 {
        font-size: 1.7em;
    }

    .proj a {
        font-size: 0.75em;
    };
}









